.btn {
  color: #fff;
  border-radius: 100%;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  line-height: 43px;
  margin: 6.5px;
  padding: 12px;
  height: 70px;
  width: 70px;
  transition: 0.5s all;
}

.lightBtn:hover,
.darkBtn:hover {
  filter: invert(1);
  scale: 1.05;
}

.lightBtn {
  background-color: #a5a5a5;
  color: #000;
}

.orangeBtn {
  background-color: #fea00a;
}

.orangeBtn:hover {
  color: #fea00a;
  background-color: #fff;
  scale: 1.05;
}

.orangeBtnReverse {
  color: #fea00a;
  background-color: #fff;
}

.darkBtn {
  background-color: #333333;
}

.wideBtn {
  border-radius: 70px;
  text-align-last: left;
  padding-left: 27px;
  width: 153px;
}
